@import "utils/vars";
@import "utils/_mixins";
@import "fonts";

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: "Fira Code", "Sugo Pro Display", "Sugo Pro Classic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: "Fira Code", "Sugo Pro Display", "Sugo Pro Classic",
    monospace;
}

.page {
  position: relative;
}

.container {
  box-sizing: border-box;

  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;

  @include onBigPhone {
    padding-inline: 30px;
  }

  @include onBigTablet {
    padding-inline: 50px;
  }

  @include onBigDesktop {
    padding-inline: 0;
  }

  &--our-clients {
    position: relative;
    z-index: 1;
    max-width: 1350px;
    margin: 0 auto;
  }

  &--stack {
    max-width: 1500px;
    margin: 0 auto;
  }
}

.main {
  overflow: hidden;

  &__content {
    padding-top: 150px;

    @include onSmallDesktop {
      padding-top: 100px;
    }
  }

  &__page-title {
    margin: 0;

    color: $main-yellow-text-color;
    font-family: $sugo-pro-display;
    font-size: 3.2rem;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 6.6px;
    text-transform: uppercase;

    text-shadow: -1px -1px 0px #000000,
      1.5px 1.5px 0px #000000,
      3px 3px 0px #808080;

    @include onTablet {
      font-size: 4rem;
      line-height: 4rem;
      letter-spacing: 6.6px;
      text-shadow: -1px -1px 0px #000000,
        3px 3px 0px #000000,
        4px 4px 0px #808080;
    }

    @include onSmallDesktop {
      font-size: 6.2rem;
      line-height: 6.2rem;
      letter-spacing: 6.6px;
    }
  }
}

// .page-title {
//   margin: 0;

//   position: relative;
//   display: inline-block;

//   font-family: $sugo-pro-display;
//   color: $white-text-color;
//   font-size: 52px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 52px; /* 100% */
//   letter-spacing: 3.12px;
//   text-transform: uppercase;

//   text-shadow: -1px -1px 0px #000000,
//     1.5px 1.5px 0px #000000,
//     2px 2px 0px #808080;

//   @include onBigTablet {
//     font-size: 70px;
//     line-height: 70px; /* 100% */
//     letter-spacing: 4.2px;

//     margin-bottom: 50px;
//   }

//   @include onSmallDesktop {
//     font-size: 5.6rem;
//     line-height: 6rem;
//     text-shadow: -1px -1px 0px #000000,
//       1.5px 1.5px 0px #000000,
//       2px 2px 0px #808080;
//   }
  

//   &--yellow {
//     color: $main-yellow-text-color;
//   }
// }
