//Width
$tablet-min-width: 576px;
$desktop-min-width: 1024px;


//Colors
$main-yellow-text-color: #FFE500;
$sub-yellow-text-color: #F7E439;
$white-text-color: #FFFFFF;
$dark-text-color: #000000;
$pink-text-color: #9364ED;
$violet-text-color: #5E1DBB;
$gray-color: #191919;
$lightgray-text-color: #ECECEC;
$lightgray-color: #808080;
$stack-gray-color: #282828;
$pink2-text-color: #E2209E;
$blue-text-color: #07CBF5;



//Fonts
$fira-code: "Fira Code";
$sugo-pro-classic: "Sugo Pro Classic";
$sugo-pro-display: "Sugo Pro Display";


// Width of dispaly
$phone-min-width: 320px;
$big-phone-min-width: 480px;
$tablet-min-width: 600px;
$tablet2-min-width: 765px;
$small-desktop-min-width: 1065px;
$desktop-min-width: 1200px;
$big-desktop-min-width: 1350px;



